.ProfileInfo {
  display: flex;
  flex-direction: row;
}

.App {
  text-align: center;
  font-family: 'Noto Serif JP', sans-serif;

}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 80px;
}

.Location-logo {
  height: 30px;
}

.Star-logo {
  height: 18px;
}

.App-header {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



.App-header a {
  color: black;
  padding: 0 5px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.trips {
  margin: auto;
  /* border: 1px black solid; */

}

.alltrips {
  padding: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap
}

.trip {
  animation: swing-in-top-fwd .5s cubic-bezier(.175, .885, .32, 1.275) both;
  height: 150px;
  width: 150px;
  background-image: linear-gradient(60deg, #96deda 0%, #50c9c3 100%);
  border-radius: 50%;
  margin: 0.5%;
  /* display: inline-block; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center
}

.trip:hover {
  -webkit-animation: wobble-hor-bottom 0.8s both;
  animation: wobble-hor-bottom 0.8s both;
}

.card:hover {
  -webkit-animation: wobble-hor-bottom 0.8s both;
  animation: wobble-hor-bottom 0.8s both;
}

.tripName {
  margin: 0.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px rgb(4, 148, 159) solid; */
  font-family: Dancing Script;
  padding: 2%
}

.greenLine {
  height: 15px;
  width: 110%;
  border-top: 1px rgb(4, 148, 159) solid;

}

.green {
  height: 15px;
  width: 110%;
  background-color: rgb(4, 148, 159);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2%
}

.App-footer {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes roll-in-left {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
    transform: translateX(-800px) rotate(-540deg);
    opacity: 0
  }

  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1
  }
}

@keyframes swing-in-top-fwd {
  0% {
    transform: rotateX(-100deg);
    transform-origin: top;
    opacity: 0
  }

  100% {
    transform: rotateX(0deg);
    transform-origin: top;
    opacity: 1
  }
}

@-webkit-keyframes wobble-hor-bottom {

  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%
  }

  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg)
  }

  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg)
  }

  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg)
  }

  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg)
  }

  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg)
  }
}

@keyframes wobble-hor-bottom {

  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%
  }

  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg)
  }

  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg)
  }

  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg)
  }

  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg)
  }

  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg)
  }
}